body {
    display: none;
    padding: 40px 0;
}

.margin-top { margin-top: 20px; }
.margin-right { margin-right: 20px; }
.margin-bottom { margin-bottom: 20px; }
.margin-left { margin-left: 20px; }
.margin { margin: 20px 20px 20px 20px; }
.margin-none { margin: 0px 0px 0px 0px; }

.large-margin-top { margin-top: 40px; }
.large-margin-right { margin-right: 40px; }
.large-margin-bottom { margin-bottom: 40px; }
.large-margin-left { margin-left: 40px; }

.small-margin-top { margin-top: 10px; }
.small-margin-right { margin-right: 10px; }
.small-margin-bottom { margin-bottom: 10px; }
.small-margin-left { margin-left: 10px; }

.padding { padding: 20px 20px 20px 20px; }
.padding-top { padding-top: 20px; }
.padding-right { padding-right: 20px; }
.padding-bottom { padding-bottom: 20px; }
.padding-left { padding-left: 20px; }

.large-padding { padding: 30px 30px 30px 30px; }
.large-padding-top { padding-top: 30px; }
.large-padding-right { padding-right: 30px; }
.large-padding-bottom { padding-bottom: 30px; }
.large-padding-left { padding-left: 30px; }

.small-padding { padding: 10px; }
.small-padding-top { padding-top: 10px; }
.small-padding-right { padding-right: 10px; }
.small-padding-bottom { padding-bottom: 10px; }
.small-padding-left { padding-left: 10px; }

.extra-small-padding { padding: 5px; }
.extra-small-padding-top { padding-top: 5px; }
.extra-small-padding-right { padding-right: 5px; }
.extra-small-padding-bottom { padding-bottom: 5px; }
.extra-small-padding-left { padding-left: 5px; }

.form-container {
    margin-bottom: 30px;
}

.form-search {
	max-width: 700px;
	padding: 15px;
	margin: 0 auto;

}

.form-search .form-search-heading {
	margin-bottom: 10px;
}

.form-search .checkbox {
	font-weight: normal;
}

.form-search .form-control {
	position: relative;
	height: auto;
	padding: 10px;
	font-size: 16px;
	width: 100%;
}

.form-search .form-control:focus {
	z-index: 2;
}

.form-search input {
	margin-bottom: 10px;
}

.form-search button {
	max-width: 150px;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.results-list {
	padding-top: 50px;
}

#map {
    height: 400px;
}
