body {
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-search {
	max-width: 700px;
	padding: 15px;
	margin: 0 auto;
}

.form-search .form-search-heading,
.form-search .checkbox {
	margin-bottom: 10px;
}

.form-search .checkbox {
	font-weight: normal;
}

.form-search .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-search .form-control:focus {
	z-index: 2;
}

.form-search input {
	margin-bottom: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-search button {
	max-width: 150px;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.results-list {
	max-width: 700px;
	padding-top: 50px;
	margin: 0 auto;
}
