<!DOCTYPE html>
<html lang="en" ng-app="pizzaPlease">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizza Please</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div ng-controller="SearchController">
    <div class="container form-container">
        <form class="form-inline form-search">
            <div class="form-group col-sm-8">
                <input type="text" name="city" autofocus class="form-control" placeholder="Enter City" ng-model="city" details="chosenPlaceDetails" googleplace/>
            </div>
            <div class="form-group col-md-4">
                <div class="text-center">
                    <button ng-click="findPizza()" type="button" class="btn btn-lg btn-success btn-block">
                        <i ng-class="{'glyphicon glyphicon-repeat normal-right-spinner': isLoading, 'glyphicon glyphicon-map-marker': !isLoading }"></i>
                        <span ng-if="!isLoading">Find Pizza</span>
                        <span ng-if="isLoading">Searching...</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="map" ng-show="resultsLoaded">
    </div>

    <div class="container results-list" ng-show="resultsLoaded">
        <div class="row">
            <div class="col-md-3 large-margin-bottom" ng-repeat="location in locations">
                <div ng-show="!location.is_closed">
                    <strong>{{ location.name }}</strong>
                    <p>
                        {{ location.location.display_address[0] }}<br>
                        {{ location.location.display_address[1] }}<br>
                        Rating: <img ng-src="{{ location.rating_img_url }}" alt="" />
                    </p>
                    <p>
                        <a href="tel:{{ location .display_phone }}" class="btn btn-default"><i class="glyphicon glyphicon-earphone"></i> Call</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEbWMdSzk7ctOn9IHfiIbSGmhW98uiQjs&libraries=places"></script>
<script src="js/app.js"></script>
<script>
    $(function() {
        $('body').css('display', 'none').fadeIn(500);
    });
</script>
</body>
</html>
