<!DOCTYPE html>
<html lang="en" ng-app="pizzaPlease">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizza Please</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container" ng-controller="SearchCityController">
    <form class="form-search">
        <h2 class="form-search-heading">Find Pizza</h2>
        <input type="text" name="city" autofocus class="form-control" placeholder="Enter City" ng-model="city" details="chosenPlaceDetails" googleplace/>
        <div class="text-center">
            <button ng-click="findPizza()" type="button" class="btn btn-lg btn-success btn-block">Go</button>
        </div>
    </form>
    <div class="results">
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="bower_components/angularjs-google-places/src/angularjs-google-places.js"></script>
<script src="js/app.js"></script>

</body>
</html>
