<div class="container results-list">
    <div class="row">
        <div class="col-md-3 large-margin-bottom" ng-repeat="location in locations">
            <div ng-show="!location.is_closed">
                <strong>{{ location.name }}</strong>
                <p>
                    {{ location.location.display_address[0] }}<br>
                    {{ location.location.display_address[1] }}<br>
                    Rating: <img ng-src="{{ location.rating_img_url }}" alt="" />
                </p>
                <p>
                    <a href="tel:{{ location .display_phone }}" class="btn btn-default">
                        <i class="glyphicon glyphicon-earphone"></i> Call
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
